.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.buttons{
margin-top: 3rem;
margin-right: 2rem;
}
.button {
    background-color: #00BCD4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3rem;
}
.inputForm{
width: 30rem;
}
.divInputForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
}
.label{
margin-bottom: 1rem;
}
