.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    width: 12rem;
    height: 4rem;
    border-style: solid;
}

.cardHover{
    background-color: white !important;
}
.input{
    font-size: 16px;
}

.img{
    height: 150px;
}

.button {
    background-color: #FF5722;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}