.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    width: 12rem;
    height: 4rem;
}

.cardHover{
    background-color: white !important;
}
.input{
    font-size: 16px;
}

.img{
    height: 150px;
}
